@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&family=Questrial&display=swap');

* {
	box-sizing: border-box;
}

body{
	font-family: 'Poppins', sans-serif;
	padding: 0;
	margin: 0;
	background-color: #ebf8fa;
}

main {
	padding: 20px;
	overflow: auto;
}

header {
	display: inline;
}

h2{
	color: #47c2ff;
}
.intro {
	background-color: #47c2ff;
	padding: 10px;
	font-size: 20px;
	color: white;
	text-align: center;
}

.card {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
	border-radius: 8px;
	padding: 20px;
	margin: 20px 0;
	background-color: white;
}

.card a {
	font-weight: bold;
}

table {
	margin-left: auto;
	margin-right: auto;
}

footer{
	background-color: #47c2ff;
	padding: 20px;
	text-align: center;
	color: white;
	font-weight: bold;
}
img{
	height: 250px;
	align-items: center;
	border-radius: 50%;
	border: 5px solid #47c2ff;
}

#content {
	float: left;
	width: 100%;
}

